*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapperApp{
  background-color: rgb(255, 255, 255); 
  width: 100vw;
  height: 100vh;
}
.empty_block{
  display: none; 
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(100, 100, 100, 0.5);
  z-index:70;
}

.header{
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  width: 100%;
  min-height: 42px;
  position: fixed;
  backdrop-filter: blur(1px);
  align-items: center;
  list-style-type: none;
  z-index: 75;
}
.btn_right {
  display: none;
  gap: 40px;
  z-index: 75;
  position: fixed;
  flex-direction: column;
  right: 90px ;
  top: 45px;
  z-index: 80;
}

.btn {
  display: none;
  padding: 5px 10px;
  background-color: none;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  z-index: 75;
  position: relative;
  z-index: 80;
}
.btn:hover {
  background-color: #858788;
}
.burgerButton{
  width: 30px;
  height: 30px;
  display: flex;
  background-color: rgba(164, 164, 164, .0);
  flex-direction: column;
  /* border: 1px solid black; */
  /* justify-content: space-between; */
  cursor: pointer;
  /* text-align: center; */
  position: fixed;
  right: 7px;
  top: 7px;
  z-index: 75;
}
.burgerButton span{
  width: 20px;
  height: 2px;
  margin-top: 5px;
  margin-left: 4px;
  border-radius: 10px;
  background-color: black;
  transition: all 0.3s;
  z-index: 75;
}
/* Добавляем класс active для анимации empty_block (прозрачного блока) */
.empty_block.active{
  display: flex;
  z-index: 70;
}
/* .burgerButton.active {
  background-color: rgba(240, 14, 14, 0.3);
} */
.burgerButton.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  margin-top: 6px;
}
.burgerButton.active span:nth-child(2) {
  opacity: 0;
}
.burgerButton.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.btn_right.active {
  display: flex;
  width: 200px;
  height: 200px;
  right: 0;
  margin-top: 0;
  background-color: rgba(212, 27, 27, .3);
  position: absolute;
}
.btn.active {
  display: flex;
  width: 100px;
  height: 30px;
  margin-top: 30px;
  background-color: none;
  left: 0;
  position: absolute;
}

/* СТИЛИЗАЦИЯ КНОПКИ ВХОДА */
.Vhodmen{
  display: flex;
  width: 20px; 
  height: 20px;
  background-color: white;
  cursor: pointer;
  top: 10px;
  right: 50px;
  position: fixed;
}
.Vhodmen:hover{
  top: 5px;
  width: 30px; 
  height: 30px;
}
.VhodmenDone{
  display: none;
  width: 20px; 
  height: 20px;
  background-color: white;
  cursor: pointer;
  top: 10px;
  right: 50px;
  position: fixed;
}
.VhodmenDone:hover{
  top: 5px;
  width: 30px; 
  height: 30px;
}
.VhodTextAdminClassname{
  display: flex;
  right: 80px;
  color: rgb(37, 117, 56);
  position: fixed;
}
.wrapperVhod{
  display: flex;
}

.wrapperVhodImg{
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

@media screen and (max-width: 500px) {
  .wrapperVhodImg{
      width: 450vw;
      height: 150vh;
      padding-bottom: 400px;
      margin-left: -600px;
      position: fixed;

  }
}
.inputsVhod{
  display: none;
}
.inputsVhod.active{
  display: flex;
}
.inputLogin{
  display: flex;
  width: 200px;
  height: 30px;
  padding-left: 5px;
  border: 1px solid black;
  margin-top: 250px;
  margin-left: 80px;
  position: absolute;
  z-index: 2;
}
.inputPassword{
  display: flex;
  width: 200px;
  height: 30px;
  padding-left: 5px;
  border: 1px solid black;
  margin-top: 290px;
  margin-left: 80px;
  position: absolute;
  z-index: 2;
}
.buttonSign{
  display: flex;
  width: 100px;
  height: 30px;
  padding-left: 5px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  margin-top: 330px;
  margin-left: 80px;
  background-color: rgb(33, 182, 56);
  position: absolute;
  z-index: 2;
}
.buttonOut{
  display: flex;
  width: 100px;
  height: 30px;
  padding-left: 5px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  margin-top: 330px;
  margin-left: 180px;
  background-color: rgb(229, 49, 49);
  position: absolute;
  z-index: 2;
}
.buttonSign:hover{
  background-color: rgb(11, 244, 100);
}




































/*  */
/* .scroll-container {
  width: 200%;
  height: 700px; 
  margin-left: -210px;
  overflow: auto; 
  border: 1px solid #ccc;
  padding: 10px;
  scale: 0.5;
} */

/* .scroll-container::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
} */
